pythoncertifi
click
colorama
cycler
dataclasses
Flask
gunicorn
importlib-metadata
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
model-helpers
numpy
pandas
Pillow
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
threadpoolctl
typing_extensions
Werkzeug
wincertstore
wordcloud
xgboost
zipp
