certifi
click
colorama
dataclasses
Flask
Flask-SQLAlchemy
gunicorn
greenlet
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
psycopg2
psycopg2-binary
python
python-dateutil
pytz
six
SQLAlchemy
typing-extensions
Werkzeug
wincertstore
zipp
