<!DOCTYPE html>
<html lang="en">
<head>

  <title>Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/style.css" media="screen">
</head>
<body>
<h1>
    Hello World!

    <h4>Available Pages:</h4>
        <a href="/about">About</a><br/>
        <a href="/side-effects">Side-Effects</a><br/>
        <a href="/dashboard">Dashboard</a><br/>   
        <a href="/facts">Facts</a><br/>
        <a href="/data">Data</a><br/>
        <a href="/sources">Sources</a><br/></br>

</h1>



<script src="../static/js/plots.js"></script>
</body>
</html>
